*.pyc
*.swp
*.tar.gz
.project
.pydevproject
.coverage
target
coverage.xml
nosetests.xml
tags
3pp
litp
property_types
item_types
*/rstFilesISO/extensions
*/rstFilesISO/plugins
*/rstFiles/plugins
*/rstFiles/extensions
validators.rst
operations.rst
